@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.94;
  color: var(--text-gray);
}

.no-scroll {
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-header {
  position: absolute;
  width: 100%;
  margin-top: 8px;
}

.logo {
  display: inline-block;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  z-index: 15;
}
.menu-button__cross {
  display: none;
}
.is-open .menu-button__cross {
  display: block;
}
.is-open .menu-button__menu {
  display: none;
}

@media screen and (max-width: 1200px) {
  .navigation,
.button-top {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  z-index: 12;
  right: 0px;
  padding: 20px;
  width: 250px;
  height: 502px;
  background-color: var(--bg-navigation);
  transform: translateX(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateY(0);
}

.mobile-menu__btn {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  max-width: 209px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 48px;
  border-radius: 22px;
  border-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--brand-color);
}

.mobile-menu__text {
  margin-right: 20px;
}

.mobile-menu__list {
  margin-top: 19px;
}

.mobile-menu__item {
  padding: 10px 0;
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
}

.mobile-menu__link {
  color: var(--text-white);
  font-weight: 700;
  line-height: 1.28;
}

.mobile-menu__link--current {
  color: var(--brand-color);
}

.hero {
  height: 502px;
  background-color: var(--bg-hero);
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .hero__text,
.block-right,
.bottle-img,
.girl-img {
    display: none;
  }
}
.container-wrapper {
  position: relative;
}

.block-left {
  position: absolute;
  z-index: 8;
}

.hero__title {
  max-width: 218px;
  padding-top: 190px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero__title-text {
  font-size: 48px;
  line-height: 0.96;
  text-transform: uppercase;
  color: var(--brand-color);
}

.hero__button-list {
  display: flex;
  margin-top: 24px;
  padding-bottom: 158px;
}

.hero__button-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__button-item:not(:last-child) {
  margin-right: 8px;
}

.hero__link {
  padding: 8px 13px;
  background-color: var(--brand-color);
  border-radius: 20px;
  font-size: 8px;
  line-height: 1.25;
  color: var(--white-color);
}
.hero__link:hover, .hero__link:focus {
  background-color: var(--bg-hover-btn);
  color: var(--brand-color);
}

.hero__link-right {
  background-color: var(--white-color);
  color: var(--brand-color);
}

.icecream-img {
  position: absolute;
  left: 120px;
  top: 91px;
  z-index: 7;
  background-image: url(../images/hero-header/icecream-mobile.png);
  width: 171px;
  height: 410px;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icecream-img {
    background-image: url(../images/hero-header/icecream-mobile@2x.png);
    background-size: 100%;
  }
}
.circle-img {
  position: absolute;
  top: 83px;
  left: 36px;
  display: block;
  width: 346px;
  height: 344px;
  background-color: var(--bg-hero-circle);
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .section-about {
    background-image: url(../images/about/sectionbg-sm.png);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .section-about {
    background-image: url(../images/about/sectionbg-sm@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .section-about {
    background-image: url(../images/about/sectionbg-lg.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-about {
    background-image: url(../images/about/sectionbg-lg@2x.png);
  }
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: var(--anim);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 100%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  min-height: 609px;
  background-color: var(--brand-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--anim);
}
.modal-close-btn:hover, .modal-close-btn:focus + .close-icon {
  fill: var(---bg-navigation);
  border-color: var(--bg-navigation);
}

.about__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__form-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-black);
}

.advant {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: var(--bg-light-pink);
}
@media screen and (min-width: 768px) {
  .advant {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.advant__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .advant__list {
    gap: 25px;
  }
}
@media screen and (min-width: 768px) {
  .advant__list {
    gap: 100px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.advant___item {
  max-width: 280px;
}
@media screen and (min-width: 768px) {
  .advant___item {
    max-width: 170px;
  }
}
@media screen and (min-width: 1200px) {
  .advant___item {
    max-width: 300px;
  }
}

.advant___item:nth-child(1) .advant__box::before {
  content: "";
  display: block;
  width: 33px;
  height: 50px;
  background-size: 33px 50px;
  background-image: url(../images/advant/advant-icon-1.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advant___item:nth-child(1) .advant__box::before {
    background-image: url(../images/advant/advant-icon@2x-1.png);
  }
}

.advant___item:nth-child(2) .advant__box::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  background-image: url(../images/advant/advant-icon-2.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advant___item:nth-child(2) .advant__box::before {
    background-image: url(../images/advant/advant-icon@2x-2.png);
  }
}

.advant___item:nth-child(3) .advant__box::before {
  content: "";
  display: block;
  width: 44px;
  height: 50px;
  background-size: 44px 50px;
  background-image: url(../images/advant/advant-icon-3.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advant___item:nth-child(3) .advant__box::before {
    background-image: url(../images/advant/advant-icon@2x-3.png);
  }
}

.advant__number {
  margin-top: 16px;
  font-family: var(--font-titan);
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--brand-color);
}
@media screen and (min-width: 768px) {
  .advant__number {
    margin-top: 36px;
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .advant__number {
    margin-top: 40px;
    font-size: 58px;
  }
}

.advant__txt {
  margin-top: 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .advant__txt {
    margin-top: 13px;
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1200px) {
  .advant__txt {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.75;
  }
}

.gallery-pictures {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white-color);
  background-image: linear-gradient to bottom, var(--bg-light-pink) 30%, var(--white-color) 70%;
}
@media screen and (min-width: 768px) {
  .gallery-pictures {
    width: 100%;
    height: 327px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-pictures {
    width: 1013px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
  }
}

.gallery-pictures__container {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
}

.gallery-pictures__pic-1 {
  margin-top: 45px;
  margin-bottom: 47px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .gallery-pictures__pic-1 {
    border-radius: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-pictures__pic-1 {
    margin-top: 143px;
  }
}

.gallery-pictures__pic-2 {
  margin-top: 28px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .gallery-pictures__pic-2 {
    border-radius: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-pictures__pic-2 {
    margin-top: 89px;
  }
}

.gallery-pictures__pic-3 {
  margin-bottom: 18px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .gallery-pictures__pic-3 {
    border-radius: 20px;
  }
}
.gallery-pictures__pic-4 {
  margin-top: 0;
  width: 90px;
  height: 90px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .gallery-pictures__pic-4 {
    border-radius: 20px;
  }
}
.gallery-pictures__pic-5 {
  width: 44px;
  height: 44px;
  margin-bottom: 0;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .gallery-pictures__pic-5 {
    border-radius: 20px;
  }
}
.gallery-pictures__pic-6 {
  margin-top: 31px;
}
@media screen and (min-width: 1200px) {
  .gallery-pictures__pic-6 {
    margin-top: 99px;
  }
}

.gallery-pictures__pic-7 {
  margin-bottom: 15px;
}

.gallery-pictures__pic-8 {
  margin-top: 21px;
}
@media screen and (min-width: 1200px) {
  .gallery-pictures__pic-8 {
    margin-bottom: 66px;
  }
}

.gallery-pictures__pic-9 {
  margin-bottom: 25px;
}
.gallery-pictures__pic-10 {
  margin-top: 49px;
  margin-bottom: 43px;
}
@media screen and (min-width: 1200px) {
  .gallery-pictures__pic-10 {
    margin-top: 154px;
  }
}

.divs {
  display: flex;
}

:root {
  --brand-color: #D41443;
  --white-color: #FFFFFF;
  --text-white: #FFFFFF;
  --text-black: #000000;
  --text-gray: #907E82;
  --text-pink: #FFA5BA;
  --bg-hero: #FFB8CA;
  --bg-hero-circle: #FFA5BA;
  --bg-hover-btn: #ECEBEB;
  --bg-product-first: #FFB8CA;
  --bg-product-second: #F0D1A5;
  --bg-product-third: #C2E297;
  --bg-light-pink: #FFF5F6;
  --bg-reviews: #FAFAFA;
  --bg-cafe-contacts: #F0D1A5;
  --bg-foodtruck-contacts: #C2E297;
  --bg-location-btn: #D41342;
  --bg-navigation: #E17992;
  --icon-advant: #FFA5BA;
  --social-icon: #FEA5BB;
  --line-quotes-reviews: #E1E1E1;
  --line-navigation: #E18298;
  --red-dots-reviews: #C7133E;
  --gray-dots-reviews: #D9D9D9;
  --icon-home: #D31342;
  --font-titan: "Titan One", sans-serif;
}/*# sourceMappingURL=index.css.map */