:root {

    --brand-color: #D41443;               // Лого, бургер, hero title, hero btn, заголовки секций .....
    --white-color: #FFFFFF;


    --text-white: #FFFFFF;
    --text-black: #000000;
    --text-gray: #907E82;
    --text-pink: #FFA5BA;                 // subtitle, 


    --bg-hero: #FFB8CA;
    --bg-hero-circle: #FFA5BA;           // Окружность на герое
    --bg-hover-btn: #ECEBEB;             // ховер кнопок 
    --bg-products: #E5E5E5;
    --bg-product-first: #FFB8CA;
    --bg-product-second: #F0D1A5;
    --bg-product-third: #C2E297;
    --bg-light-pink: #FFF5F6;            // bg в about, contacts, footer
    --bg-reviews: #FAFAFA;               // bg в отзывах
    --bg-cafe-contacts: #F0D1A5;
    --bg-foodtruck-contacts: #C2E297;
    --bg-location-btn: #D41342;          // Кнопка в контактах
    --bg-navigation: #E17992;            // bg Навигация внутри бургер меню


    --icon-advant: #FFA5BA;
    --social-icon: #FEA5BB;              // Иконки вконтактах
    --line-quotes-reviews: #E1E1E1;      // Серые линии в контактах, отзывах и футер, кавычки в отзывах
    --line-navigation: #E18298;          // Линии навигации внутри бургер меню
    --red-dots-reviews: #C7133E;         // Красные точки в отзывах
    --gray-dots-reviews: #D9D9D9;        // Серые точки в отзывах
    --icon-home: #D31342;                // Иконка домика в отзывах

    --font-titan: 'Titan One', sans-serif;

    
    // --cards-gap: 30px;                    
    // --qty-cards: 3;

    // --link-transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

