<!-- ADVANATAGES -->
<section class="advant">
  <div class="advant__container container">
    <h2 class="visually-hidden">Our advantages</h2>
    <ul class="advant__list list">
      <li class="advant___item">
        <div class="advant__box">
          <p class="advant__number">721</p>
          <p class="advant__txt">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advant___item">
        <div class="advant__box">
          <p class="advant__number">16kg</p>
          <p class="advant__txt">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advant___item">
        <div class="advant__box">
          <p class="advant__number">84</p>
          <p class="advant__txt">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
