<!-- Contacts -->

<section   class="contact section" id="contact">
    <div class="container contact_container">
        <div class="contact__bg-color">
            <h2 class="contact__title">Contact group</h2>
            <ul class="contact__list">
                <li class="contact__item" data-aos="zoom-out-up" data-aos-delay="100">
                    <div class="caption cafe">CAFE</div>
                    <div class="information">
                        <div class="information__data">
                            <p class="title">Chicago</p>
                            <p class="information__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </div>
                        <div class="schedule">
                            <p class="title">Monday - Friday</p>
                            <p class="schedule__time">06:00 AM - 10:00 PM</p>
                            <p class="title">Saturday - Sunday</p>
                            <p class="schedule__time">08:00 AM - 16:00 PM</p>
                        </div>
                        <div class="address">
                            <a class="address__nav" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
                            <a class="address__nav" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </div>
                    </div>
                    
                </li>

                <li class="contact__item" data-aos="slide-up" data-aos-delay="200">
                    <div class="caption food">FOOD TRUCK</div>
                    <div class="information">
                        <div class="information__data">
                            <p class="title">Los Angeles</p>
                            <p class="information__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </div>
                        <div class="schedule">
                            <p class="title">Monday - Friday</p>
                            <p class="schedule__time">06:00 AM - 10:00 PM</p>
                            <p class="title">Saturday - Sunday</p>
                            <p class="schedule__time">08:00 AM - 16:00 PM</p>
                        </div>
                        <div class="address">
                            <a class="address__nav" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
                            <a class="address__nav" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </div>
                    </div>
                </li>

                <li class="contact__item" data-aos="flip-up" data-aos-delay="300">
                    <div class="caption cafe">CAFE</div>
                    <div class="information">
                        <div class="information__data">
                            <p class="title">New York</p>
                            <p class="information__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </div>
                        <div class="schedule">
                            <p class="title">Monday - Friday</p>
                            <p class="schedule__time">06:00 AM - 10:00 PM</p>
                            <p class="title">Saturday - Sunday</p>
                            <p class="schedule__time">08:00 AM - 16:00 PM</p>
                        </div>
                        <div class="address">
                            <a class="address__nav" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
                            <a class="address__nav" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="button">
                <button class="btn-r" type="button" data-modal-open-loc>Our Locations
                    <svg class="icon-btn-r" width="6" heigt="8">
                        <use href="/src/images/icons.svg#button-arrow-white"></use>
                    </svg>
                </button>
                <button class="btn-w" type="button">Franchise
                    <svg class="icon-btn-w" width="6" heigt="8">
                    <use href="/src/images/icons.svg#button-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Modal Local -->
    <div class="backdrop-loc is-hidden" data-modal-loc>
        <div class="modal-loc">
            <button class="close-button" type="button" data-modal-close-loc>
                <svg class="close-icon" width="18" height="18">
                    <use href="./images/icons.svg#icon-close" alt="Закрыть"></use>
                </svg>
            </button>      
            <p class="modal-text">Our Locations</p>
            <div class="modal-contact">
                <iframe class="modal-map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26373352.115529276!2d-113.75585225594925!3d36.20539032687749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2z0KHQv9C-0LvRg9GH0LXQvdGWINCo0YLQsNGC0Lgg0JDQvNC10YDQuNC60Lg!5e0!3m2!1suk!2sua!4v1660245872020!5m2!1suk!2sua"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>

