<!-- Contacts -->

<section class="contact">
    <div class="container">
        <div class="contact__bg-color">
            <h2 class="contact__title">Contact group</h2>
            <ul class="contact__list">
                <li class="contact__item">
                    <div class="caption">CAFE</div>
                    <div class="information">
                        <div class="information__data">
                            <span class="information__title">Chicago</span>
                            <p class="information__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </div>
                        <div class="schedule">
                            <span class="schedule__day">Monday - Friday</span>
                            <p class="schedule__time">06:00 AM - 10:00 PM</p>
                            <span class="schedule__day">Saturday - Sunday</span>
                            <p class="schedule__time">08:00 AM - 16:00 PM</p>
                        </div>
                        <div class="address">
                            <a class="address__tel" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
                            <a class="address__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </div>
                    </div>
                    
                </li>

                <li class="contact__item">
                    <div class="caption">FOOD TRUCK</div>
                    <div class="information">
                        <div class="information__data">
                            <span class="information__title">Los Angeles</span>
                            <p class="information__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </div>
                        <div class="schedule">
                            <span class="schedule__day">Monday - Friday</span>
                            <p class="schedule__time">06:00 AM - 10:00 PM</p>
                            <span class="schedule__day">Saturday - Sunday</span>
                            <p class="schedule__time">08:00 AM - 16:00 PM</p>
                        </div>
                        <div class="address">
                            <a class="address__tel" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
                            <a class="address__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </div>
                    </div>
                </li>

                <li class="contact__item">
                    <div class="caption">CAFE</div>
                    <div class="information">
                        <div class="information__data">
                            <span class="information__title">New York</span>
                            <p class="information__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </div>
                        <div class="schedule">
                            <span class="schedule__day">Monday - Friday</span>
                            <p class="schedule__time">06:00 AM - 10:00 PM</p>
                            <span class="schedule__day">Saturday - Sunday</span>
                            <p class="schedule__time">08:00 AM - 16:00 PM</p>
                        </div>
                        <div class="address">
                            <a class="address__tel" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
                            <a class="address__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </div>
                    </div>
                </li>
            </ul>

            <div>
                <button type="button">Our Locations
                    <svg width="4" heigt="8">
                        <use href="/src/images/icons.svg#button-arrow"></use>
                    </svg>
                </button>
                <button type="button">Franchise
                    <svg width="4" heigt="8">
                    <use href="/src/images/icons.svg#button-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>