<section>
    <ul class="customer-list fade">

      <li class="customer">
       <img class="customer__page" src="./images/customer-reviews/customer-1.png" alt="customer 1" width="85" height="85">
        <div class="customer__box-text">
          <p>
            <span class="customer__text">
              <svg class="customer__text-icon" width="54" height="40">
                <use href="./images/icons.svg#icon-quotes"></use>
              </svg>
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </span>
          </p>
        </div>
        <p class="customer__info">Emily, Los Angeles</p>
      </li>
   
      <li class="customer">
        <img class="customer__page" src="./images/customer-reviews/customer-2.png" alt="customer 1" width="85" height="85">
         <div class="customer__box-text">
           <p>
             <span class="customer__text">
                <svg class="customer__text-icon" width="54" height="40">
                 <use href="./images/icons.svg#icon-quotes"></use>
                </svg>
               Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
             </span>
           </p>
         </div>
         <p class="customer__info">Emily, Los Angeles</p>
       </li>
   
       <li class="customer">
        <img class="customer__page" src="./images/customer-reviews/customer-3.png" alt="customer 1" width="85" height="85">
         <div class="customer__box-text">
           <p>
             <span class="customer__text">
                <svg class="customer__text-icon" width="54" height="40">
                 <use href="./images/icons.svg#icon-quotes"></use>
                </svg>
               Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
             </span>
           </p>
         </div>
         <p class="customer__info">Emily, Los Angeles</p>
       </li>
    </ul>
</section>