<footer class="footer">
    <div class="footer__container container">

        <ul>
            <li>
                <p>homemade ice cream made</p>
            </li>
            <li>
                <p>with passion</p>
            </li>
        </ul>

        <div>
            <ul>
                <li><a href="https://github.com/"><svg width="34" height="34">
                            <use class="" href=""></use>
                        </svg></a></li>
                <li><a href="https://web.telegram.org/k/"><svg width="34" height="34">
                            <use class="" href=""></use>
                        </svg></a></li>
                <li><a href="https://m.facebook.com/"><svg width="34" height="34">
                            <use class="" href=""></use>
                        </svg></a></li>
            </ul>

            <p>Feel free to contact <a href="tel:+610383766284">+61 (0) 383 766 284</a></p>
        </div>

        <p class="footer-copy">&copy;2022 - IceCream. All Rights Reserved.</p>

    </div>
</footer>