<footer class="footer container">
    <div class="footer__section">

        <ul class="footer-title list">
            <li class="footer-title__item">
                <p class="footer-title--pink">homemade ice cream made</p>
            </li>
            <li class="footer-title__item">
                <p class="footer-title--red">with passion</p>
            </li>
        </ul>

        <div class="footer-contacts">
            <ul class="footer-socials list">
                <li class="footer-socials__item"><a href="https://github.com/" class="footer-socials__link"><svg class="footer-socials__icon" width="20" height="20">
                            <use href="./images/icons.svg#icon-github"></use>
                        </svg></a></li>
                <li class="footer-socials__item"><a href="https://web.telegram.org/k/" class="footer-socials__link"><svg class="footer-socials__icon" width="20" height="16">
                            <use href="./images/icons.svg#icon-telegram"></use>
                        </svg></a></li>
                <li class="footer-socials__item"><a href="https://m.facebook.com/" class="footer-socials__link"><svg class="footer-socials__icon" width="9" height="20">
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg></a></li>
            </ul>

            <div class="footer-tel"><span class="footer-tel__text">Feel free to contact</span> <a href="tel:+610383766284" class="footer-tel__numb">+61 (0) 383 766 284</a></div> 
        </div>
    </div> 
    
    <p class="footer-copy">&copy;2022 - IceCream. All Rights Reserved.</p>

</footer>