<footer class="footer">
    <div class="footer__container container">

        <ul class="footer-title__list list title">
            <li class="title__item">
                <p class="title__item--pink">homemade ice cream made</p>
            </li>
            <li class="title__item">
                <p class="title__item--red">with passion</p>
            </li>
        </ul>

        <div class="footer-contacts">
            <ul class="footer__soc-list list socials">
                <li class="socials__item"><a href="https://github.com/" class="socials__link"><svg width="34" height="34">
                            <use class="socials__icon" href="./images/icons.svg#icon-github"></use>
                        </svg></a></li>
                <li class="socials__item"><a href="https://web.telegram.org/k/" class="socials__link"><svg width="34" height="34">
                            <use class="socials__icon" href="./images/icons.svg#icon-telegram"></use>
                        </svg></a></li>
                <li class="socials__item"><a href="https://m.facebook.com/" class="socials__link"><svg width="34" height="34">
                            <use class="socials__icon" href="./images/icons.svg#icon-facebook"></use>
                        </svg></a></li>
            </ul>

           <div class="footer-tel"><span class="footer-tel__text">Feel free to contact</span> <a href="tel:+610383766284" class="footer-tel__numb">+61 (0) 383 766 284</a></div> 
        </div>

        <p class="footer-copy">&copy;2022 - IceCream. All Rights Reserved.</p>

    </div>
</footer>