<section id="gallery" class="gallery-pictures">
  <div class="gallery-pictures__container">
    <picture class="gallery-pictures__pic-1">
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/image-gallery/home-pic5-lg-5.png    1x,
          ./images/image-gallery/home-pic5-lg-5@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/image-gallery/home-pic5-md-5.png    1x,
          ./images/image-gallery/home-pic5-md-5@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/image-gallery/home-pic5-sm-5.png    1x,
          ./images/image-gallery/home-pic5-sm-5@2x.png 2x
        "
        type="image/png"
      />
      <img
        src="./images/image-gallery/home-pic5-lg-5.png"
        alt="Тарелка с мороженым на подносе"
        width="138"
        height="138"
      />
    </picture>
    <div class="gallery-pictures__images-2-3">
      <picture class="gallery-pictures__pic-2">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/image-gallery/home-pic5-lg-4.png    1x,
            ./images/image-gallery/home-pic5-lg-4@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/image-gallery/home-pic5-md-4.png    1x,
            ./images/image-gallery/home-pic5-md-4@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/image-gallery/home-pic5-sm-4.png    1x,
            ./images/image-gallery/home-pic5-sm-4@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./images/image-gallery/home-pic5-lg-4.png"
          alt="Мороженое а руке на желтом фоне"
          width="138"
          height="138"
        />
      </picture>
      <picture class="gallery-pictures__pic-3">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/image-gallery/home-pic5-lg-6.png    1x,
            ./images/image-gallery/home-pic5-lg-6@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/image-gallery/home-pic5-md-6.png    1x,
            ./images/image-gallery/home-pic5-md-6@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/image-gallery/home-pic5-sm-6.png    1x,
            ./images/image-gallery/home-pic5-sm-6@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./images/image-gallery/home-pic5-lg-6.png"
          alt="Мороженое на палочке с малиной"
          width="138"
          height="138"
        />
      </picture>
    </div>
    <div class="gallery-pictures__images-4-5">
      <picture class="gallery-pictures__pic-4">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/image-gallery/home-pic5-lg-1.png    1x,
            ./images/image-gallery/home-pic5-lg-1@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/image-gallery/home-pic5-md-1.png    1x,
            ./images/image-gallery/home-pic5-md-1@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/image-gallery/home-pic5-sm-1.png    1x,
            ./images/image-gallery/home-pic5-sm-1@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./images/image-gallery/home-pic5-lg-1.png"
          alt="Восемь рожков мороженого"
          width="283"
          height="283"
        />
      </picture>
      <picture class="gallery-pictures__pic-5">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/image-gallery/home-pic5-lg-7.png     1x,
            ./images/image-gallery//home-pic5-lg-7@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/image-gallery/home-pic5-md-7.png    1x,
            ./images/image-gallery/home-pic5-md-7@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/image-gallery/home-pic5-sm-7.png    1x,
            ./images/image-gallery/home-pic5-sm-7@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./images/image-gallery/home-pic5-lg-7.png"
          alt="Девушка с мороженым"
          width="138"
          height="138"
        />
      </picture>
    </div>
    <div class="gallery-pictures__images-6-7">
      <picture class="gallery-pictures__pic-6">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/image-gallery/home-pic5-lg-9.png    1x,
            ./images/image-gallery/home-pic5-lg-9@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/image-gallery/home-pic5-md-9.png    1x,
            ./images/image-gallery/home-pic5-md-9@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/image-gallery/home-pic5-sm-9.png    1x,
            ./images/image-gallery/home-pic5-sm-9@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./images/image-gallery/home-pic5-lg-9.png"
          alt="Пиалы с мороженым"
          width="138"
          height="138"
        />
      </picture>
      <picture class="gallery-pictures__pic-7">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/image-gallery/home-pic5-lg-8.png    1x,
            ./images/image-gallery/home-pic5-lg-8@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/image-gallery/home-pic5-md-8.png    1x,
            ./images/image-gallery/home-pic5-md-8@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/image-gallery/home-pic5-sm-8.png    1x,
            ./images/image-gallery/home-pic5-sm-8@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./images/image-gallery/home-pic5-lg-8.png"
          alt="Мороженое в руке на улице"
          width="138"
          height="138"
        />
      </picture>
    </div>
    <div class="gallery-pictures__images-8-9">
      <div>
        <picture class="gallery-pictures__pic-8">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/image-gallery/home-pic5-lg-10.png    1x,
              ./images/image-gallery/home-pic5-lg-10@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/image-gallery/home-pic5-md-10.png    1x,
              ./images/image-gallery/home-pic5-md-10@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/image-gallery/home-pic5-sm-10.png    1x,
              ./images/image-gallery/home-pic5-sm-10@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/image-gallery/home-pic5-lg-10.png"
            alt="Собачка с мороженым"
            width="138"
            height="138"
          />
        </picture>
      </div>

      <div>
        <picture class="gallery-pictures__pic-9">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/image-gallery/home-pic5-lg-12.png    1x,
              ./images/image-gallery/home-pic5-lg-12@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/image-gallery/home-pic5-md-12.png    1x,
              ./images/image-gallery/home-pic5-md-12@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/image-gallery/home-pic5-sm-12.png    1x,
              ./images/image-gallery/home-pic5-sm-12@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/image-gallery/home-pic5-lg-12.png"
            alt="Мороженое в стакане с шоколадной крошкой"
            width="138"
            height="138"
          />
        </picture>
      </div>
    </div>
    <picture class="gallery-pictures__pic-10">
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/image-gallery/home-pic5-lg-11.png    1x,
          ./images/image-gallery/home-pic5-lg-11@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/image-gallery/home-pic5-lg-11.png    1x,
          ./images/image-gallery/home-pic5-lg-11@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/image-gallery/home-pic5-md-11.png    1x,
          ./images/image-gallery/home-pic5-md-11@2x.png 2x
        "
        type="image/png"
      />
      <img
        src="./images/image-gallery/home-pic5-lg-11.png"
        alt="Пончик с мороженым поверх кувшина на желтом фоне"
        width="138"
        height="138"
      />
    </picture>
  </div>
</section>
