<section>
  <div>
    <div>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/image-gallery/home-pic5-lg-5.jpg    1x,
            ./images/image-gallery/home-pic5-lg-5@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/image-gallery/home-pic5-md-5.jpg    1x,
            ./images/image-gallery/home-pic5-md-5@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/image-gallery/home-pic5-sm-5.jpg    1x,
            ./images/image-gallery/home-pic5-sm-5@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/image-gallery/home-pic5-lg-5.jpg"
          alt="Тарелка с мороженым на подносе"
          width="138"
          height="138"
        />
      </picture>
    </div>
    <div>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/image-gallery/home-pic5-lg-4.jpg    1x,
            ./images/image-gallery/home-pic5-lg-4@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/image-gallery/home-pic5-md-4.jpg    1x,
            ./images/image-gallery/home-pic5-md-4@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/image-gallery/home-pic5-sm-4.jpg    1x,
            ./images/image-gallery/home-pic5-sm-4@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/image-gallery/home-pic5-lg-4.jpg"
          alt="Мороженое а руке на желтом фоне"
          width="138"
          height="138"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/image-gallery/home-pic5-lg-6.jpg    1x,
            ./images/image-gallery/home-pic5-lg-6@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/image-gallery/home-pic5-md-6.jpg    1x,
            ./images/image-gallery/home-pic5-md-6@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/image-gallery/home-pic5-sm-6.jpg    1x,
            ./images/image-gallery/home-pic5-sm-6@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/image-gallery/home-pic5-lg-6.jpg"
          alt="Мороженое на палочке с малиной"
          width="138"
          height="138"
        />
      </picture>
    </div>

    <div>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/image-gallery/home-pic5-lg-1.jpg    1x,
            ./images/image-gallery/home-pic5-lg-1@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/image-gallery/home-pic5-md-1.jpg    1x,
            ./images/image-gallery/home-pic5-md-1@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/image-gallery/home-pic5-sm-1.jpg    1x,
            ./images/image-gallery/home-pic5-sm-1@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/image-gallery/home-pic5-lg-1.jpg"
          alt="Восемь рожков мороженого"
          width="283"
          height="283"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/image-gallery/home-pic5-lg-7.jpg     1x,
            ./images/image-gallery//home-pic5-lg-7@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/image-gallery/home-pic5-md-7.jpg    1x,
            ./images/image-gallery/home-pic5-md-7@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/image-gallery/home-pic5-sm-7.jpg    1x,
            ./images/image-gallery/home-pic5-sm-7@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/image-gallery/home-pic5-lg-7.jpg"
          alt="Девушка с мороженым"
          width="138"
          height="138"
        />
      </picture>
    </div>
    <div>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/image-gallery/home-pic5-lg-9.jpg    1x,
            ./images/image-gallery/home-pic5-lg-9@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/image-gallery/home-pic5-md-9.jpg    1x,
            ./images/image-gallery/home-pic5-md-9@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/image-gallery/home-pic5-sm-9.jpg    1x,
            ./images/image-gallery/home-pic5-sm-9@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/image-gallery/home-pic5-lg-9.jpg"
          alt="Пиалы с мороженым"
          width="138"
          height="138"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/image-gallery/home-pic5-lg-8.jpg    1x,
            ./images/image-gallery/home-pic5-lg-8@2x.jpg
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/image-gallery/home-pic5-md-8.jpg    1x,
            ./images/image-gallery/home-pic5-md-8@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/image-gallery/home-pic5-sm-8.jpg    1x,
            ./images/image-gallery/home-pic5-sm-8@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/image-gallery/home-pic5-lg-8.jpg"
          alt="Мороженое в руке на улице"
          width="138"
          height="138"
        />
      </picture>
    </div>
    <div>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/image-gallery/home-pic5-lg-10.jpg    1x,
            ./images/image-gallery/home-pic5-lg-10@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/image-gallery/home-pic5-md-10.jpg    1x,
            ./images/image-gallery/home-pic5-md-10@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/image-gallery/home-pic5-sm-10.jpg    1x,
            ./images/image-gallery/home-pic5-sm-10@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/image-gallery/home-pic5-lg-10.jpg"
          alt="Собачка с мороженым"
          width="138"
          height="138"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/image-gallery/home-pic5-lg-12.jpg    1x,
            ./images/image-gallery/home-pic5-lg-12@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/image-gallery/home-pic5-md-12.jpg    1x,
            ./images/image-gallery/home-pic5-md-12@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/image-gallery/home-pic5-sm-12.jpg    1x,
            ./images/image-gallery/home-pic5-sm-12@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/image-gallery/home-pic5-lg-12.jpg"
          alt="Мороженое в стакане с шоколадной крошкой"
          width="138"
          height="138"
        />
      </picture>
    </div>

    <div>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/image-gallery/home-pic5-lg-11.jpg    1x,
            ./images/image-gallery/home-pic5-lg-11@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/image-gallery/home-pic5-lg-11.jpg    1x,
            ./images/image-gallery/home-pic5-lg-11@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/image-gallery/home-pic5-md-11.jpg    1x,
            ./images/image-gallery/home-pic5-md-11@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/image-gallery/home-pic5-lg-11.jpg"
          alt="Пончик с мороженым поверх кувшина на желтом фоне"
          width="138"
          height="138"
        />
      </picture>
    </div>
  </div>
</section>
