<!-- HEADER -->
<header class="page-header">
  <div class="page-header__container">
    <a class="logo link" href="">
      <svg width="199" height="50">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <button class="menu-button" type="button" data-menu-button>
      <svg width="20" height="20">
        <use
          class="menu-button__menu"
          href="./images/icons.svg#icon-burger"
        ></use>
        <use
          class="menu-button__cross"
          href="./images/icons.svg#icon-close"
        ></use>
      </svg>
    </button>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link link" href="">Home</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="">About us</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="">How it’s made?</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="">Our products</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="button-top" type="button">Buy now ></button>
  </div>
</header>

<!-- MOBILE MENU -->
<div class="mobile-menu" data-menu>
  <button class="mobile-menu__btn" type="button">
    <span class="mobile-menu__text">Buy now</span>
    <svg width="5" height="8">
      <use href="./images/icons.svg#button-arrow"></use>
    </svg>
  </button>
  <nav class="mobile-menu__navigation">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link mobile-menu__link--current link" href=""
          >Home</a
        >
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link link" href="">About us</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link link" href="">How it’s made?</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link link" href="">Our products</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link link" href="">Contact</a>
      </li>
    </ul>
  </nav>
</div>

<!-- HERO -->
<section class="hero">
  <div class="container container-wrapper">
    <div class="block-left">
      <h1 class="hero__title">
        ice cream made with <span class="hero__title-text">passion</span>
      </h1>
      <ul class="hero__button-list">
        <li class="hero__button-left">
          <a class="hero__link link" href="">Products</a>
        </li>
        <li class="hero__button-right">
          <a class="hero__link link" href="">How it’s made?</a>
        </li>
      </ul>

      <div class="bottle-img"></div>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
    </div>

    <div class="icecream-img"></div>

    <div class="block-right">
      <ul class="buypoint-list">
        <li class="buypoint-list__item">
          <p class="buypoint-list__count">16</p>
          <p class="buypoint-list__text">cafes</p>
        </li>
        <li class="buypoint-list__item">
          <p class="buypoint-list__count">23</p>
          <p class="buypoint-list__text">food trucks</p>
        </li>
      </ul>
      <div class="girl-img"></div>
    </div>
  </div>
</section>
