<!-- HEADER -->
<header class="page-header">
  <a class="logo link" href="">LOGO</a>
  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a class="navigation__link link" href="">Home</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link link" href="">About us</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link link" href="">How it’s made?</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link link" href="">Our products</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link link" href="">Contact</a>
      </li>
    </ul>
  </nav>
  <button class="button-top" type="button">Buy now ></button>
</header>

<!-- MOBILE MENU -->

<!-- HERO -->
<section class="hero">
  <div class="block-left">
    <h1 class="hero__title">ice cream made with passion</h1>
    <ul>
      <li class="hero__button-left"><a href="">Products</a></li>
      <li class="hero__button-right"><a href="">How it’s made?</a></li>
    </ul>

    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
  </div>

  <div class="block-right">
    <div class="hero__buy">
      <p class="hero__buy__count">16</p>
      <p class="hero__buy__text">cafes</p>
      <p class="hero__buy__count">23</p>
      <p class="hero__buy__text">food trucks</p>
    </div>
  </div>
</section>
