<div class="backdrop-products hidden" data-modal2>
  <div class="">
    <div class="products__modal products__modal--ice-cream">
      <button data-modal-close2 class="products__modal-close-btn" type="button" aria-label="menu-close">
        <svg class="close-icon" width="18" height="18">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <form class="products__form">
        <h3 class="products__form-label">Ice cream</h3>
        <p class="products__form-text">
          Ice cream is a frozen dessert based on fruit juice, berries, and milk.
          During the manufacturing process, the ingredients are whipped and
          gradually cooled to obtain a homogeneous mass. The delicacy was left
          in the cold and eaten cold. Since then, there have been two categories
          of ice cream: milk ice cream; fruit sherbet (modern - sorbet).
        </p>
      </form>
    </div>
  </div>
</div>
