<div class="backdrop-products hidden" data-modal4>
  <div class="">
    <div class="products__modal products__modal--milkshakes">
      <button data-modal-close4 class="products__modal-close-btn" type="button" aria-label="menu-close">
        <svg class="close-icon" width="18" height="18">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <form class="products__form">
        <h3 class="products__form-label">Milkshakes</h3>
        <p class="products__form-text">
          Milkshake (eng. Milkshake, milkshake) is a dessert drink based on milk
          and ice cream, one of the symbols of American cuisine. To give the
          cocktail a variety of flavors, a variety of syrups, fruits, berries,
          grated Oreo cookies, and so on are added to it. Whipped cream,
          cocktail cherries, grated chocolate are used to decorate milkshakes.
          The number of options for milkshakes, with all this in mind, is almost
          limitless.
        </p>
      </form>
    </div>
  </div>
</div>
