<section class="section-products">
  <div class="container">
    <p class="section-products__label">100% natural</p>
    <h2 class="section-products__title">products</h2>
    <ul class="cards-list list" >
      <li class="cards-list__card cards-list__card--ice-cream">
        <h6 class="cards-list__title">ice cream</h6>
        <p class="cards-list__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="cards-list__link"></button>
      </li>
      <li class="cards-list__card cards-list__card--ice-koffee">
        <h6 class="cards-list__title">ice koffee</h6>
        <p class="cards-list__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="cards-list__link"></button>
      </li>
      <li class="cards-list__card cards-list__card--milkshakes">
        <h6 class="cards-list__title">milkshakes</h6>
        <p class="cards-list__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="cards-list__link"></button>
      </li>
    </ul>
  </div>
</section>
