.scroll-top {
    position: fixed;
    bottom: 800px;
    right: 40px;
    width: 60px;
    height: 60px;
    background: #FFB8CA url(../images/scroll-top-arrow.png);
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.scroll-top.active {
    bottom: 40px;
    visibility: visible;
    opacity: 1;
} 