// header

.page-header {
  position: absolute;
  width: 100%;
  margin-top: 8px;
}

.logo {
  display: inline-block;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border: none;
  background-color: rgba(0, 0, 0, 0);

  z-index: 15;

  &__cross {
    display: none;
  }

  .is-open &__cross {
    display: block;
  }

  .is-open &__menu {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .navigation,
  .button-top {
    display: none;
  }
}

// ======Mobile menu======

.mobile-menu {
  position: fixed;
  z-index: 12;
  right: 0px;
  padding: 20px;
  width: 250px;
  height: 100vh;
  background-color: var(--bg-navigation);
  transform: translateX(100%);

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateY(0);
  }
}

.mobile-menu__btn {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  max-width: 209px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 48px;
  border-radius: 22px;
  border-color: transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: var(--brand-color);
}

.mobile-menu__text {
  margin-right: 20px;
}

.mobile-menu__list {
  margin-top: 19px;
}
.mobile-menu__item {
  padding: 10px 0;
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
}

.mobile-menu__link {
  color: var(--text-white);
  font-weight: 700;
  line-height: 1.28;
}

.mobile-menu__link--current {
  color: var(--brand-color);
}

// ======Hero=====

.hero {
  height: 502px;
  background-color: var(--bg-hero);
}

@media screen and (max-width: 768px) {
  .hero__text,
  .block-right,
  .bottle-img,
  .girl-img {
    display: none;
  }
}

.container-wrapper {
  position: relative;
}

.block-left {
  position: absolute;
  z-index: 8;
}

.hero__title {
  max-width: 218px;
  padding-top: 190px;

  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero__title-text {
  font-size: 48px;
  line-height: 0.96;
  text-transform: uppercase;
  color: var(--brand-color);
}

.hero__button-list {
  display: flex;
  margin-top: 24px;
  padding-bottom: 158px;
}

.hero__button-item {
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.hero__link {
  padding: 8px 13px;
  background-color: var(--brand-color);
  border-radius: 20px;

  font-size: 8px;
  line-height: 1.25;
  color: var(--white-color);

  &:hover,
  &:focus {
    background-color: var(--bg-hover-btn);
    color: var(--brand-color);
  }
}

.hero__link-right {
  background-color: var(--white-color);
  color: var(--brand-color);
}

.icecream-img {
  position: absolute;
  left: 120px;
  top: 91px;
  z-index: 7;
  background-image: url(../images/hero-header/icecream-mobile.png);
  width: 171px;
  height: 410px;
}
