.products {
  background-color: var(--bg-products);

  &__label {
    margin-bottom: 15px;

    font-family: 'Titan One';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;

    color: var(--text-pink);

    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.15;

      margin-bottom: 18px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: 1.13;

      margin-bottom: 16px;
    }
  }

  &__title {
    margin-bottom: 8px;

    font-family: 'Titan One';
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;

    text-align: center;
    text-transform: uppercase;

    color: var(--brand-color);

    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 1.15;

      margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 58px;
      line-height: 1.14;
    }
  }

  &__list{
    @media screen and (min-width: 768px) {
      display: flex;      
      gap: 16px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;      
      gap: 32px;
    }
  }
  

  &__item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    max-width: 368px;
    height: 489px;
    border-radius: 24px;
    margin-top: 140px;

    @media screen and (min-width: 768px) {
      width: 33.33%;
      height: 473px;

      margin-top: 138px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 64px) / 3);
      height: 535px;

      margin-top: 261px;
    }

    &::before {
      margin-top: -140px;

      width: 280px;
      height: 280px;
      content: '';
      background: no-repeat scroll center/contain transparent;

      @media screen and (min-width: 768px) {
        width: 224px;
        height: 224px;

        margin-top: -138px;
      }

      @media screen and (min-width: 1200px) {
        width: 368px;
        height: 394px;   
        
        margin-top: -261px;
      }
    }
  }

  &__item--ice-cream {
    background-color: var(--bg-product-first);

    &::before {
      background-image: url(../images/products/product-pic1mob@1x.png);
      background-image: url(../images/products/product-pic1mob@2x.png);

      @media screen and (min-width: 768px) {
        background-image: url(../images/products/product-pic1tabl@1x.png);
        background-image: url(../images/products/product-pic1tabl@2x.png);
      }

      @media screen and (min-width: 1200px) {
        background-image: url(../images/products/products-pic1desk@1x.png);
        background-image: url(../images/products/products-pic1desk@2x.png);
      }
    }
  }

  &__item--ice-coffee {
    background-color: var(--bg-product-second);

    &::before {
      background-image: url(../images/products/product-pic2mob@1x.png);
      background-image: url(../images/products/product-pic2mob@2x.png);

      @media screen and (min-width: 768px) {
        background-image: url(../images/products/product-pic2tabl@1x.png);
        background-image: url(../images/products/product-pic2tabl@2x.png);
      }
  
      @media screen and (min-width: 1200px) {
        background-image: url(../images/products/products-pic2desk@1x.png);
        background-image: url(../images/products/products-pic2desk@2x.png);
      }
    }
  }

  &__item--milkshakes {
    background-color: var(--bg-product-third);

    &::before {
      background-image: url(../images/products/product-pic3mob@1x.png);
      background-image: url(../images/products/product-pic3mob@2x.png);

      @media screen and (min-width: 768px) {
        background-image: url(../images/products/product-pic3tabl@1x.png);
        background-image: url(../images/products/product-pic3tabl@2x.png);
      }
  
      @media screen and (min-width: 1200px) {
        background-image: url(../images/products/products-pic3desk@1x.png);
        background-image: url(../images/products/products-pic3desk@2x.png);
      }
    }
  }

  &__sublist {
    margin-top: 20px;

    font-family: 'Titan One';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  
    text-align: center;
    text-transform: uppercase;
  
    color: var(--text-white);

    @media screen and (min-width: 768px) {
      margin-top: 32px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: 1.13;
    }
  
    &::after {
      content: '...';
  
      display: flex;
      justify-content: center;
  
      margin-top: 32px;
      margin-bottom: 32px;
  
      color: var(--white-color);
    }
  }

  &__subtitle {
    margin-bottom: 32px;
    max-width: 200px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  
    text-align: center;
  
    color: var(--text-white);

    flex: 1 1 auto;


    @media screen and (min-width: 768px) {
      line-height: 1.8;
      max-width: 160px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
      
      margin-bottom: 60px;
      max-width: 241px;
    }
  }

  @media screen and (min-width: 768px) {
    &__text{
      display: none;
    }
  }
  
  
  &__button {
    border-radius: 50%;
    border: 0;
    margin-bottom: 40px;
    padding: 0;

    @media screen and (min-width: 1200px) {
      margin-bottom: 60px;
    }
  }
}


